{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf%}

{% block content %}
    <h1> {{ _("Edit Building") }} </h1>

    <form action ="" method="post">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.address) }}
        {{ wtf.form_field(form.zip) }}
        {{ wtf.form_field(form.country) }}
        {{ wtf.form_field(form.construction_year) }}
        {{ wtf.form_field(form.property_type) }}
        {{ wtf.form_field(form.size) }}
        {{ wtf.form_field(form.reporting_year) }}
        <h2>{{ _("Energy Consumption per Year") }}</h2>
        {{ wtf.form_field(form.grid_elec) }}
        {{ wtf.form_field(form.natural_gas) }}
        {{ wtf.form_field(form.fuel_oil) }}
        {{ wtf.form_field(form.dist_heating) }}
        {{ wtf.form_field(form.dist_cooling) }}
        {{ wtf.form_field(form.o1_energy_type) }}
        {{ wtf.form_field(form.o1_consumption) }}
        {{ wtf.form_field(form.o2_energy_type) }}
        {{ wtf.form_field(form.o2_consumption) }}
        <h2>{{_("Fugitive Emissions per Year")}}</h2>
        {{ wtf.form_field(form.f_gas_1_type) }}
        {{ wtf.form_field(form.f_gas_1_amount) }}
        {{ wtf.form_field(form.f_gas_2_type) }}
        {{ wtf.form_field(form.f_gas_2_amount) }}
        <h2>{{ _("Renewable Energy per Year") }}</h2>
        {{ wtf.form_field(form.pv_wind_consumed) }}
        {{ wtf.form_field(form.pv_wind_exported) }}
        {{ wtf.form_field(form.hp_solar_consumed) }}
        {{ wtf.form_field(form.hp_solar_exported) }}
        {{ wtf.form_field(form.off_site_renewables) }}
        <h2>{{ _("Planned Retrofit") }}</h2>
        {{ wtf.form_field(form.retrofit_year) }}
        {{ wtf.form_field(form.retrofit_investment) }}
        {{ wtf.form_field(form.submit) }}
    </form>
{% endblock  %}