{% extends "base.html" %}
    {% block content %}
        <h1> Hello, {{ current_user.name}} </h1>
        {% if building is none %}
        <a href="{{ url_for("building")}}">Add Building</a>
        {% else %}
        <div>
            <p>
            Address: {{building.address}}<br> 
            Reporting year: {{building.reporting_year}}<br>
            Country: {{building.country}}<br>
            Zip: {{building.zip}}<br>
            Property type: {{building.property_type}}<br>
            Size: {{building.size}}<br>
            </p>
        </div>
        {% endif %}
    {% endblock %}