{% extends "base.html" %}
{% block content %}
    <h1>{{ _("Hi, %(username)s!", username=current_user.name) }}</h1>
    {% if building is none %}
        <a href="{{ url_for("main.add_building") }}">{{ _("Add Building") }}</a>
    {% else %}
        <a href="{{ url_for("main.edit_building") }}">{{ _("Edit Building") }}</a>
        <a href="#" onclick="deleteBuilding()">{{ _("Delete Building") }}</a>
        <div>
            <p>
                {{ _("Address:") }} {{ building.address }}<br>
                {{ _("Reporting year:") }} {{ building.reporting_year }}<br>
                {{ _("Country:") }} {{ building.country }}<br>
                {{ _("Zip:") }} {{ building.zip }}<br>
                {{ _("Property type:")}} {{ building.property_type.value }}<br>
                {{ _("Size:") }} {{ building.size }}<br>
            </p>
        </div>
    {% endif %}


<script>
    function deleteBuilding() {
        fetch('{{ url_for('main.delete_building') }}', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            } else {
                alert('Failed to delete building.');
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}